body{
background-image:  url('');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;

background-size:contain;
font-family: verdana;
}
h1{color:aliceblue;}
p{color: blue;}

table,th,td{
border: 1px solid black;
border-collapse:collapse ;
{color: aliceblue;}




ul{

list-style: square;



}







